<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-light" style="display: flex; background: violet; padding: 0 10px; justify-content: space-between;align-items: center;">

    <a href="/"><span class="navbar-brand">CubeCodeCamp</span></a>
  
    <nav class="navbar navbar-expand-sm">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="/contact-us" class="nav-link">Contact Us</a>
        </li>
        <li class="nav-item">
          <a href="/team" class="nav-link">Team</a>
        </li>
      </ul>
    </nav>
  
  </header>
  {% block content %}
  {% endblock %}
</body>
</html>