{% extends 'company/base.html' %}

{% block content %}

<div style="width: 400px;" class="container pt-3 text-center">
    <h1>Learn To Code</h1>
    <p>Our carefully designed 4-month courses take place in physical classrooms in the presence of an industry expert instructor. Get ready to jump-start your career goals.</p>
    <nav class="navbar navbar-expand-sm justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"><button class="btn btn-primary">Apply Now</button></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><button class="btn btn-secondary">Explore Courses</button></a>
        </li>
      </ul>
    </nav>
</div>

{% endblock %}