{% extends 'company/base.html' %}

{% block content %}

<div class="container-fluid mt-3 text-center">
  <h1>Meet the team</h1>
  <div class="container-fluid mt-3">
    <div class="row align-items-top">
      <div class="col-sm border border-info">
        <img src="https://pbs.twimg.com/profile_images/919467891530936321/_py3bmgt_400x400.jpg" class="img-fluid rounded mt-3 mb-3" />
        <span>Aarushi Aishwarya</span>
        <p>Sales</p>
      </div>
      <div class="col-sm border border-info">
        <img src="https://pbs.twimg.com/profile_images/1048094424318668800/XTyntAQi_400x400.jpg" class="img-fluid rounded mt-3 mb-3" />
        <span>Arkesh Jaiswal</span>
        <p>Mentor</p>
      </div>
      <div class="col-sm border border-info">
        <img src="https://pbs.twimg.com/profile_images/1216644644253028352/vEMxd-NW_400x400.jpg" class="img-fluid rounded mt-3 mb-3" />
        <span>Kabir Nazir</span>
        <p>Student</p>
      </div>
    </div>
  </div>
  
  
</div>

{% endblock %}